/build
.DS_Store/
.idea/
.gradle/
bin/
gen/
build/
captures/
*.iml
local.properties
app/gradle.properties
app/version.properties
.classpath
.project
*.log
infer-out
*.bin
*.lock
libs/
src/main/res/drawable/
